<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
{% include 'layout/_footer.twig' %}
<script src="js/main.js" async></script>
</body>
</html>
